<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agencia ¦ emprendimientos digitales</title>

    <!-- Fuentes Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />

    <!-- iconos Google -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- frame animacion -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../styles/styles.css" />

    <!-- favicon -->
    <link rel="icon" href="../assets/img/favicon-agencia.png">
  </head>

  <body>
    <header>
      <nav>
        <div class="navbar">
          <a href="../index.html">
            <img
              class="logo-img"
              src="../assets/img/logo-transparente.png"
              alt="logo de la empresa"
            />
          </a>

          <div class="container-nav">
            <ul class="nav-items">
              <li>
                <a
                  style="margin-right: 0"
                  href="../index.html#marcador-servicios"
                  >Servicios</a
                >
              </li>
              <li><a style="margin-right: 0" href="#">Acerca de mí</a></li>
              <li>
                <a
                  style="margin-right: 0"
                  href="./contacto.html"
                  target="_blank"
                  >Pedí tu presupuesto</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="top-section2">
      <h1><span class="highlight-acerca">Acerca de mí</span></h1>

      <div class="descripcion-y-foto">
        <img
          class="foto-de-perfil animate__animated animate__fadeInDown"
          src="../assets/img/foto-de-perfil.jpg"
          alt="foto de perfil"
        />

        <div class="descripcion animate__animated animate__fadeInDown">
          <p>
            Me llamo Fernanda, tengo 32 años y soy de Santa Fe capital,
            actualmente resido en CABA. Me formé como licenciada en filosofía,
            lo cual me brindó muchas herramientas para la producción de textos.
            De a poco fui sumergiéndome en el mundo de los emprendimientos
            digitales y comencé a tomar cursos para trabajar como community
            manager. Así logré mis primeros trabajos y continué con curiosidad
            hacia otras ramas vinculadas a las plataformas digitales.
          </p>
          <br />
          <p>
            Es así como comencé a formarme en programación, un camino que
            comenzó hace poco y donde todavía tengo mucho por recorrer. Ya di
            mis primeros pasos con HTML y CSS y me encuentro estudiando
            Javascript y backend.
          </p>
        </div>
      </div>
    </div>

    <footer class="footer-acerca">
      <p class="copyright-acerca">
        2022 by Fer Flores. Todos los derechos reservados.
      </p>
    </footer>
  </body>
</html>
